
        body {
            border: 2px solid black;
        
            background-color: #ffffff;
            padding: 20px;
            display: inline-block;
        }
        h2 {
            font-weight: bold;
            font-size: 2em; 
            color: black;
            margin: 0 0 15px 0; 
        }

        .inner-box1 {
            background-color: blue;
            padding: 30px; 
        }

        .inner-box2 {
            background-color: yellow;
            
            padding: 50px 80px; 
            text-align: center;
            
            
        
            font-size: 20px;
            color: #222; 
        }